<!-- Put in a thing where a user can add a new habit or delete a habit -->
<nav>
    <div class="nav-wrapper deep-purple darken-4 center-align">
        <a href="/habits" class="brand-logo hide-on-small-only"> Habit Tracker!</a>
        <a href="/habits" class="brand-logo hide-on-med-and-up"> Habits!</a>
        <ul id="nav-mobile" class="right">
            <% if (loggedIn) {%> 
                <li>
                    <a class="navlogout" href="/user/logout"><p class="hide-on-small-only">Logout <i class="material-icons right show-on-small">logout</i></p></a>
                </li>
            <% } else { %> 
                <li><a href="/user/login">Login</a></li>
            <% } %> 
        </ul>
    </div>
</nav>