<!-- Put in a thing where a user can add a new habit or delete a habit -->
<header>
    <h1> Your Habit Tracker! </h1>
    <span> <a href="/habits/new"> Track a New Habit </a> </span>
    <span> Your Current Streak </span>
    <span> Your Highest Streak </span>
</header>