<!DOCTYPE html>
<html lang="en">

<%- include ("../partials/head.ejs")  %>

<body class="container">
    <h3 class="center-align">Please Login To See Your Habit Tracker</h3>
    <form action="/user/login" method="post"><fieldset>
        <label>
            Username: <input type="text" name="username" required>
        </label></br>
        <label>
            Password: <input type="password" name="password" required>
        </label>
        <input type="submit" class="waves-effect waves-light btn-small" value="Log In">
    </fieldset></form>
    <p><%= message  %> </p>
    <a href="/user/signup" class="card-panel cyan lighten-2 waves-effect waves-light btn-small">Create A New User</a>
</body>
</html>