<!DOCTYPE html>
<html lang="en">

<%- include ("../partials/head.ejs")  %>

<body class="container">
    <h3 class="center-align new_user">Create a User, Track a Habit</h3>
    <form action="/user/signup" method="post">
        <fieldset>
            <label>Pick a Username<input type="text" name="username" required></label> </br>
            <label>Pick a Password<input type="password" name="password" required></label> </br>
            <label>Pick a Habit<input type="text" name="habit" required></label> </br>
            <label><input type="submit" value="Create User"></label>
        </fieldset>
    </form>
    <p><%= message %> </p>
</body>
</html>