<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs')  %>

<body>
    <%- include ('../partials/header.ejs') %>
    <main>
        <div class="habits">
            <% for (habit of habits) { %>
                <div class="habit">
                    <%= habit.name %>
                    <% if (habit.streak) { %>
                        <h1>Streak!</h1>
                    <% } else { %>  
                        <h1>No Streak</h1>
                    <% } %> 
                    <form action="/habits/<%= habit._id %>?_method=PUT" method="post">
                        <input type="submit" value="I DID IT!">
                    </form>
                </div>
            <% } %>  
        </div>

    </main>
</body>
</html>